.header, .one, .two, .three, .four, .five {
    background-color: navy;
    color: white;    
}

.one, .two, .three, .four, .five {
    font-size: x-small;
}

.five-day-forcast {
    font-size: small;
}

